{% extends "base.html" %}

{% block content %}

<div class="col-md-6 offset-md-3">
    {% if user.is_authenticated %}
    <h3>Você está logado!!</h3><p>Today is {{today}}</p>

    {% if records %}
    {% for record in records %}
        {{ record.first_name }}<br/>
        {{ record.last_name }}<br/>
        <br/>
    {% endfor %}
    {% endif %}

    {{ room_name|json_script:"room-name"}}
<div id="user-hello"></div>
    <script>
      const roomName = JSON.parse(document.getElementById('room-name').textContent);

      const chatSocket = new WebSocket(
        'ws://' +
        window.location.host +
        '/ws/chat/' +
        roomName +
        '/'
      );

      chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data)
        document.querySelector('#user-hello').innerHTML = (data.tester)
      }
    </script>



<!-- 
<script type = "text/javascript">
  let url= 'ws://${window.location.host}/ws/socket-server'

  const chatsocket= new WebSocket(url)

  chatsocket.onmessage = function(e){
    let data = JSON.parse(e.data)
    console.log('Data',data)

  }
</script> -->
''''



    <h1>The Worxxxks!</h1>
    {% else %}
    <form method="POST" action="{% url 'home'%}">
    
        {% csrf_token %}

        <form>
            <div class="mb-3">
              
              <input type="text" class="form-control" name="username", placeholder="Username">
              
            </div>
            <div class="mb-3">
              
              <input type="password" class="form-control" name="password", placeholder="Password">
            </div>
           
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
    
    </form>
</div>

{% endif %}

{% endblock %}